.leagueTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.leagueTable th,
.leagueTable td {
  padding: 10px;
  border-bottom: 1px solid var(--background-color);
  width: 5%;
  font-size: var(--font-size-text);
}

.leagueTable th:nth-child(2),
.leagueTable td:nth-child(2) {
  width: 50%;
}

@media (max-width: 800px) {
  .leagueTable th,
  .leagueTable td {
    padding-inline: 3px;
    padding-block: 5px;
    width: 7%;
  }

  .leagueTable th:nth-child(2),
  .leagueTable td:nth-child(2) {
    width: 44%;
  }
}

.leagueTable th {
  background-color: var(--primary-color);
  color: white;
}

.leagueTable tr:hover {
  background-color: var(--secondary-color);
  color: white;
}

.leagueTable th:nth-child(n + 3),
.leagueTable td:nth-child(n + 3) {
  text-align: center;
}
