.matchTable {
  width: 100%;
}

.matchRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 5px;
  font-size: var(--font-size-text);
}

.teamNameHome {
  width: 40%;
  text-align: left;
}

.teamNameAway {
  text-align: right;
  width: 40%;
}

.score {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  width: 20%;
  padding-inline: 5px;
}
