.landingPage {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.teamButton {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.teamButton:hover {
  background-color: var(--button-hover);
}
